name: Scala CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '21'
        distribution: 'adopt'
    - name: Install sbt
      uses: sbt/setup-sbt@v1
    - name: Check Format by scalafmt
      run:
        sbt scalafmtSbtCheck scalafmtCheckAll
    - name: Check Lint by scalafix
      run:
        sbt scalafixEnable "scalafixAll --check"
    - name: Sbt Plugin tests
      run:
        sbt clean +playSwagger/publishLocal sbtPlaySwagger/scripted
    - name: Core Lib tests
      run:
        sbt ';project playSwagger;clean;+test'
    - name: Example compile
      run:
        sbt publishForExample && cd example && sbt clean scalafmtSbtCheck scalafmtCheckAll scalafixEnable "scalafixAll --check" compile
